%h1= t('Listing Users')
%table
  %tbody
    %tr
      %th ID
      %th Name
      %th E-mail
      %th Category
      %th Expire_Date
      %th
      %th
      %th 
    - @users.each do |user| 
      %tr
        %td= user.id
        %td= user.name
        %td=user.email
        %td=user.category
        %td=user.expire_date
        %td
          %b= link_to 'Edit', edit_exp_imp_path(user) 
        %td
 