%h3 Welcome to: East Auckland accountants.
%p
%h4
  On the one hand we are a normal accounting company and would be happy to work with you as a regular user of accounting services as a permanent and one-time fee. For this, you only need to call or send us an E-mail, especially if you're in Auckland and, ideally, not very far from Glen Innes.
  On the other hand, all you can do yourself, using our original accounting software. The originality of it is that, unlike standard programs like MyOB, up to 90% of transactions you can enter automatically (if you have access to online banking).
  Most important advantage of our program you can feel if you work as an employee of the company. Many costs are badly identified and can be attributed to both the company and to the person, and it is absolutely legal. Perhaps not everyone knows that good distribution costs on average makes it possible to save approximately $ 500- $ 1000 / year in taxes, compared with a random distribution for the combination "company + Person" under income (income - expenses) between $ 40,000 and $ 50,000, which is typical for New Zealand.
  To use our software you do not need to download anything - just register and work online. We have a test mode, as well as modes for a week, a month, 3 months and 11 months. Our prices are very budget and lower than the prices of most other online accounting systems.
  At the moment, payment is only possible by direct transfer on our account, but in the near future there will be Direct debit for credit / debit card.
