%h3 Добро пожаловать на сайт: East Auckland accountants.
%p
%h4
  С одной стороны мы являемся обычной accounting company и будем счастливы работать с вами как с обычным пользователем бухгалтерских услуг как постоянно, так и разово. Для этого вам только надо позвонить или послать нам E-mail, особенно, если Вы в Окленде и в идеале не очень далеко от Glen Innes.
  С другой стороны, Вы все можете сделать сами, воспользовавшись нашей оригинальной бухгалтерской программой. Оригинальность ее заключается в том, что, в отличие от стандартных программ типа MyOB, до 90% транзакций Вы можете вводить автоматически (если имеете доступ к online banking).
  Главное же преимущество нашей программы Вы сможете ощутить, если Вы работаете как сотрудник своей компании. Многие расходы плохо идентифицируются и могут быть отнесены как к компании, так и к персоне, причем абсолютно легально. Возможно, не все знают, что грамотное распределение расходов в среднем дает возможность сэкономить примерно $500-$1000/год на налогах по сравнению со случайным распределением для комбинации “Компания + Персона” при доходе (income – expenses) между $40000 и $50000, что типично для Новой Зеландии.
  Для использования нашей программы Вам не надо ничего скачивать – просто зарегестрироваться и работать online. Мы имеем тестовый режим, а также режимы на неделю, месяц, 3 месяца и 11 месяцев. Наши цены вполне бюджетны и ниже цен большинства других online accounting systems.
  На текущий момент оплата возможна только прямым зачислением на наш счет, но в ближайшем будущем появится Direct debit для кредитной/дебитной карты.
